@keyframes shaking {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-6deg);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes move {
  0% {}
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes zoom {
  0% {}
  100% {
    transform: scale(1.1);
  }
}

.App {
  height: 100vh;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  background-color: black;
}

.mainContainer {
  width: 60%;
  margin: 0 auto;
  padding: 1em 0.5em;;
  background-color: black;
  color: white;
}

.header {
  font-size: 2em;
}

.icon {
  border-radius: 10px;
  padding:0.1em 0.3em;
  cursor: pointer;
}

.icon:hover {
  animation-name: shaking;
  animation-duration: 0.5s;
}

.small-icon {
  height: 1.3em;
  cursor: pointer;
  margin: 0 0.3em;
}

.eye {
  border: 1px solid gray;
  border-radius: 50%;
}

.projects {
  margin: 3em auto;
  padding: 0.5em;
}

.projects:before {
  display:none;
  content: "";
  position: absolute;
  background: none;
  width: 100%;
  height:100%;
  left: 0;
  border: 0.1px solid white;
}

.projects:hover:before {
  display: block;
  animation: move 1s forwards;
}

.projects:hover {
  animation: zoom 1s forwards;
}

.projectBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 3em;
}

.projectPic {
  height: 100px;
  border-radius: 50%;
  padding: 0.5em;
  margin: auto 1em;
  border: 3px dotted white;
}

.projectInfo {
  width: 70%;
  margin: auto 1em;
}

.technologies {
  display: block;
  margin-top: 2em;
  font-size: 0.8em;
  color: #008f11;
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .mainContainer {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .App {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  .App {
    font-size: 0.8em;
  }

  .projectBox {
    padding: 0;
  }
}
